body {

background-image: url(proBackgroundPic1.jpg);
font-family: Arial, Helvetica, sans-serif;

}

form {
	border: 3px solid #f1f1f1;
	
}


input[type=text], input[type=password] {

  width: 30%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
  left: 20%;
  
}
h2 {
	
	margin: 0 0 20px;
	line-height: 1;
    color: white;
    font-size: 18px;
    font-weight: 400;	
}

button:hover {
  opacity: 0.8;
}

.img {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.logo {
  width: 25%;
  border-radius: 25%;
}

.info {
	
	padding-right: 500px; 
       text-align:right;
}
.info2 {
	
	padding-left: 650px; 
}
.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


.createAcc {
  width: auto;
  padding: 10px 18px;
 
  
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .createAcc {
     width: 100%;
  }
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}